<h1>Enter a word to see the Scrabble score</h1>
<form action='/result'>
  
  <div class="form-group">
    <label for="word">Your word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Go!</button>
</form>
