h1 {
  color: #F0EDD8;
  font-family: courier;
  font-weight: 100;
}

div.form_box {
  padding: 0px 10px 10px 10px;
  width: 75%;
  background-color: #870505;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

h1.result {
  padding-top: 10px;
}

span.bold {
  font-weight: 900;
}

button.button-color {
  color: #1C1A0A;
}

body {
  background-image: url("img/squared_metal.png");
}
